.card{
  margin: 0.5rem;
  height: 220px;
  width: 180px;
  border: solid 1px #14213d;
  background-color: #14213d1a;
  box-shadow: 3px 3px 5px #294c978a;
}

.cardName{
  text-align: center;
  margin: 5px;
  font-size: 30px;
  text-transform: capitalize;
}

.cardImg {
  padding: 10px;
  width: 120px;
  height: 120px;
  display:block;
  margin: auto;
}

.cardFount {
 background-color: #ffffff70; 
  /* border: solid 5px #14213d; */
}

.cardTypes {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.cardTypesh3{
  display: grid;
  grid-template-columns: auto auto;
  justify-content:space-around;
  color:#14213d;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 20px 0px 20px;
  margin: 2px;
  text-transform: capitalize;
}

.card:hover {
  filter: brightness(125%);
  cursor: pointer;
  transform: scale(1.08)
}

/* .logoTypes{
  display: grid;
  align-items: center;
  margin: 5px;
  height: 20px;
  width: 20px;
} */

table {
  font-size: 20px;
}

td{
  border: solid 1px #14213d;
  padding: 10px;
}

.tableTitle{
  background-color: #000000bf;
  color: white;
}


.tableContainer{
  /* border: solid 1px; */
  width: 70%;
  text-align: center;
}

.tableTr{
 text-transform: capitalize;
}

/*--------------------------------------------------------------------------*/


.containerList li{
  margin: 0 .5em 1.5em 0.5em;
  background: #e5e5e5b0;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
  list-style: none; 
}

.containerList li:hover{
  left: -.5em;
  border-left-color: #fa8072;    
  background: #e5e5e563;       
} 


.listName{
  display: grid;
  grid-template-columns: auto auto;
  justify-content:flex-start;
  text-transform: capitalize;
}

.listName div{
  font-weight: bold;
  padding: 5px 10px;
}



/*
.lista3 li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #fa8072;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.lista3 li:after{
  position: absolute; 
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;               
}

.lista3 li:hover:after{
  left: -.5em;
  border-left-color: #fa8072;             
}

*/