.container{
  background-color: #ffffff;
  display: grid;
  margin: 0px 100px;
  padding: 0px 60px;
}

.nav{
  background-color: #14213d;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  color:white;
  font-size: 50px;
  padding : 10px;
  border-radius: 5px;
}

.nav h6{
  text-align: center;
  font-size: 15px;
  padding: 5px;
}

.cardContainer{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  margin: 20px 0px;
  border-radius: 10px; 
  padding: 10px;
}

.buttonsContainer{
  display: grid;
  grid-template-columns: auto auto auto;
}

.buttonsContainer button{
  padding: 5px;
  margin-left: 5px;
  background-color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.buttonsContainer button:hover{
  padding: 5px;
  margin-left: 5px;
  background-color: #c7c7c773;
  color: #ffffff;
  cursor: pointer;
}

.tableContainer{
  display: grid;
  margin: 20px 0px;
  border-radius: 10px; 
  padding: 10px;
}

body{
 background-color: #ffffff;
} 

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  user-select: none;
}

